{release, {farmer, "1"}, [farmer]}.
{extended_start_script, true}.

{vm_args, "./rel/vm.args"}.

{sys_config, "./rel/app.config"}.

{include_src, false}.


%%{parse_transform, lager_transform}.

%%{sys_config, "rel/sys.config"}.

{overlay, [
    {mkdir, "log"}
%%     {copy, "rel/vm.args", "releases/\{\{release_version\}\}/vm.args"}
]}.
